@using FluentBootstrap

@{
    Page.Title = "Development";
    Layout = "_Layout.cshtml";
}

<p>FluentBootstrap is a complex library with <em>a lot</em> of generics, which are necessary to ensure that it can adapt to different environments (such as ASP.NET MVC and ASP.NET WebPages) while maintaining model information. In the near future, some guidelines for developing external extensions as well as for developing inside FluentBootstrap will be provided here.</p>

@Html.Bootstrap(this).PageHeader("Release Notes").SetId("release-notes")



<p>
    <strong>3.3.2.1</strong>
    @using (var list = Html.Bootstrap(this).List(ListType.Unordered).Begin())
    {
        @list.ListItem("Updated to Bootstrap 3.3.2.")
        @list.ListItem("Updates to media objects to support Bootstrap 3.3.2 including new <code>.SetMiddle()</code> and <code>.SetBottom()</code> extensions.")
        @list.ListItem("Updated feedback support to include specifying feedback icons on form groups.")
        @list.ListItem("Added ability to insert trailing children with <code>.AddChildAtEnd()</code>.")
    }
</p>
<p>
    <strong>3.3.1.5</strong>
    @using (var list = Html.Bootstrap(this).List(ListType.Unordered).Begin())
    {
        @list.ListItem("Added <code>.SetPullLeft()</code>, <code>.SetPullRight()</code>, and <code>.SetCenterBlock()</code> for general component positioning.")
        @list.ListItem("Renamed <code>DropdownButton</code> to <code>ButtonDropdown</code> to better match Bootstrap documentation.")
        @list.ListItem("Also refactored (the newly renamed) <code>ButtonDropdown</code> so that the outer button group is implied and no longer needs to be specified.")
        @list.ListItem("New <code>.InputFor()</code>, <code>.CheckBoxFor()</code>, <code>.RadioFor()</code>, and <code>.SelectFor()</code> extensions when using ASP.NET MVC.")
    }
</p>
<p>
    <strong>3.3.1.4</strong>
    @using (var list = Html.Bootstrap(this).List(ListType.Unordered).Begin())
    {
        @list.ListItem("Bug fixes (particularly for <code>.ToString()</code>).")
        @list.ListItem("New support for easily linking images.")
        @list.ListItem("New support for placeholder images using <a href='http://placehold.it/'>placehold.it</a>.")
        @list.ListItem("Bug fixes and enhancements for horizontal forms.")
        @list.ListItem("New <code>.Heading()</code> method that allows specifying the heading size as an <code>int</code>.")
    }
</p>
<p>
    <strong>3.3.1.3</strong>
    @using (var list = Html.Bootstrap(this).List(ListType.Unordered).Begin())
    {
        @list.ListItem("New FluentBootstrap.Mvc.T4MVC library with T4MVC support.")
        @list.ListItem("Major architecture refactoring to make development easier going forward.")
    }
</p>