@using FluentBootstrap

@{
    Page.Title = "Installation";
    Layout = "_Layout.cshtml";
}

@Html.Bootstrap(this).Alert(AlertState.Warning, "Note that it's important to get the correct NuGet package. FluentBootstrap supports a variety of different platforms and downloading the wrong package may not work in your environment. For example, download FluentBootstrap.Mvc if using ASP.NET MVC. See below for more details.")

@Html.Bootstrap(this).PageHeader("Get Bootstrap")
<p>In order to provide the most flexibility, FluentBootstrap does not code with a dependency on Bootstrap. This allows you to select the most appropriate mechanism of including Bootstrap for your situation. For example, you can use the default <a href="http://www.nuget.org/packages/bootstrap/">Bootstrap NuGet package</a>, or use the LESS source. You can even go to the <a href="http://getbootstrap.com">Bootstrap web site</a> and download the CSS for manual inclusion. However you get Bootstrap, the corresponding CSS and JavaScript must be included on your page(s).</p>
<p>Note that you will want to match the version of Bootstrap to the version of FluentBootstrap (or vice versa). Since FluentBootstrap may be a version behind the official Bootstrap release, you may need to get a previous version of Bootstrap. To do this on NuGet with the standard Bootstrap package, you would type the following into the Package Management Console: <code>Install-Package Bootstrap -Version X.X.X</code>.</p>

@Html.Bootstrap(this).PageHeader("Install FluentBootstrap")
<p>FluentBootstrap is designed to work in any environment. It consists of a code library, and in most cases, an architecture-specific library. The following instructions detail how to set up FluentBootstrap for various platforms.</p>

@Html.Bootstrap(this).Heading3("ASP.NET MVC")
<p>The easiest way to get FluentBootstrap working on ASP.NET MVC is to get the <a href="https://www.nuget.org/packages/FluentBootstrap.Mvc/">FluentBootstrap.Mvc NuGet package</a>. This will pull down both the core library and the special support for ASP.NET MVC including the Bootstrap model binding helpers.</p>
<p>All of the extensions for FluentBootstrap are under the root <code>FluentBootstrap</code> namespace. In order to access this namespace from your view code, you'll probably want to add it to your <code>web.config</code> like this:</p>
@Html.Code(@"<system.web.webPages.razor>
    <host .../>
    <pages ...>
        <namespaces>
            ...
            <add namespace=""FluentBootstrap"" />
        </namespaces>
    </pages>
</system.web.webPages.razor>", "markup")
<p>This will let you write code like <code>@@Html.Bootstrap().Heading1("My Header")</code>. Alternatively, you can write code like <code>@@Bootstrap.Heading1("My Header")</code> by creating a property in your base page class (if you don't have a custom base page class, <a href="http://haacked.com/archive/2011/02/21/changing-base-type-of-a-razor-view.aspx">see here for instructions on how to create one</a>):</p>
@Html.Code(@"public MvcBootstrapHelper<TModel> Bootstrap
{
    get { return Html.Bootstrap(); }
}")

@Html.Bootstrap(this).Heading3("ASP.NET WebPages")
<p>If you prefer to use ASP.NET WebPages, you can get the <a href="https://www.nuget.org/packages/FluentBootstrap.WebPages/">FluentBootstrap.WebPages NuGet package</a>. This will pull down both the core library and the special support for ASP.NET WebPages. You will need to include <code>@@using FluentBootstrap</code> at the top of every page. You will also need to pass in the page instance when using the helper like <code>@@Html.Bootstrap(this).Heading1("My Header")</code>. This is because the ASP.NET WebPages <code>HtmlHelper</code> class does not provide all the information needed to use FluentBootstrap (such as access to the request context).</p>

@Html.Bootstrap(this).Heading3("Use It Directly")
<p>If you are outside of ASP.NET or you just want to generate Bootstrap HTML strings, then you can get by with just the <a href="https://www.nuget.org/packages/FluentBootstrap/">FluentBootstrap NuGet package</a>. This provides a <code>SimpleBootstrapHelper</code> class that you could instantiate to get access to all of the FluentBootstrap extensions.</p>